/* line 1, ../compass/sass/header.scss */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* line 8, ../compass/sass/header.scss */
header .container #logo-image {
  width: 150px;
  float: left;
}
/* line 11, ../compass/sass/header.scss */
header .container #logo-image img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 765px) {
  /* line 8, ../compass/sass/header.scss */
  header .container #logo-image {
    float: none;
    display: block;
    margin: auto;
  }
}
/* line 21, ../compass/sass/header.scss */
header .container .navbar {
  text-transform: uppercase;
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;
  height: auto;
  position: inherit;
}
/* line 29, ../compass/sass/header.scss */
header .container .navbar .navbar-header {
  float: right;
}
@media screen and (max-width: 765px) {
  /* line 29, ../compass/sass/header.scss */
  header .container .navbar .navbar-header {
    margin-top: 25px;
    float: left;
    display: block;
  }
}
/* line 38, ../compass/sass/header.scss */
header .container .navbar #util {
  float: right;
  width: 65%;
  display: block;
  margin-top: 10px;
}
@media screen and (max-width: 765px) {
  /* line 38, ../compass/sass/header.scss */
  header .container .navbar #util {
    margin-bottom: 20px;
  }
}
/* line 46, ../compass/sass/header.scss */
header .container .navbar #util .social-icons {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 40%;
  float: right;
}
@media screen and (max-width: 765px) {
  /* line 46, ../compass/sass/header.scss */
  header .container .navbar #util .social-icons {
    display: none;
  }
}
/* line 55, ../compass/sass/header.scss */
header .container .navbar #util .social-icons ul {
  margin: 0;
  padding: 10px;
}
/* line 58, ../compass/sass/header.scss */
header .container .navbar #util .social-icons ul li {
  list-style: none outside none;
  display: inline-block;
}
/* line 64, ../compass/sass/header.scss */
header .container .navbar #util .social-icons i {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #909aa0;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
/* line 82, ../compass/sass/header.scss */
header .container .navbar #util .social-icons i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
/* line 91, ../compass/sass/header.scss */
header .container .navbar #util .social-icons .fa-facebook:hover {
  background: #4060A5;
}
/* line 94, ../compass/sass/header.scss */
header .container .navbar #util .social-icons .fa-twitter:hover {
  background: #00abe3;
}
/* line 97, ../compass/sass/header.scss */
header .container .navbar #util .social-icons .fa-instagram:hover {
  background: #375989;
}
/* line 100, ../compass/sass/header.scss */
header .container .navbar #util .social-icons .fa-youtube:hover {
  background: #ff1f25;
}
/* line 104, ../compass/sass/header.scss */
header .container .navbar #util #donate {
  float: right;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 0 15px;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
/* line 115, ../compass/sass/header.scss */
header .container .navbar #util #donate:hover {
  background-color: #139034;
  color: white;
}
/* line 120, ../compass/sass/header.scss */
header .container .navbar #main-nav {
  float: right;
}
/* line 123, ../compass/sass/header.scss */
header .container .navbar #main-nav #nav {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 15px;
  font-size: 18px;
}
/* line 129, ../compass/sass/header.scss */
header .container .navbar #main-nav #nav ul {
  position: absolute;
  color: white;
  left: 0;
  top: 90px;
  background-color: black;
  transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: none;
  z-index: 0;
  padding: 0;
}
/* line 140, ../compass/sass/header.scss */
header .container .navbar #main-nav #nav ul li {
  padding: 15px 25px;
  list-style: none;
  min-width: 160px;
}
/* line 146, ../compass/sass/header.scss */
header .container .navbar #main-nav #nav .show-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}
/* line 152, ../compass/sass/header.scss */
header .container .navbar #main-nav #nav span {
  display: block;
}
/* line 157, ../compass/sass/header.scss */
header .container .navbar #main-nav #nav li a {
  text-decoration: none;
  padding: 15px 40px;
  color: black;
  border-left: 1px solid black;
}
/* line 165, ../compass/sass/header.scss */
header .container .navbar #main-nav #nav li:first-child a {
  border: none;
}

/* line 177, ../compass/sass/header.scss */
.hero-box h1 {
  text-align: center;
  text-transform: uppercase;
}
/* line 181, ../compass/sass/header.scss */
.hero-box .carousel-inner {
  min-height: 420px;
}
/* line 183, ../compass/sass/header.scss */
.hero-box .carousel-inner img {
  display: none;
  width: 100%;
}
/* line 187, ../compass/sass/header.scss */
.hero-box .carousel-inner .item {
  max-height: 430px;
  position: absolute;
  width: 100%;
}

/* line 196, ../compass/sass/header.scss */
.tag-line {
  margin: 20px 0;
  padding: 30px 0;
  background-color: #139034;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* line 207, ../compass/sass/header.scss */
.video-block {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 211, ../compass/sass/header.scss */
.video-block iframe {
  width: 100%;
}

/* line 216, ../compass/sass/header.scss */
.categories {
  position: relative;
}
/* line 218, ../compass/sass/header.scss */
.categories .container {
  padding: 25px;
}
/* line 220, ../compass/sass/header.scss */
.categories .container .col {
  margin-top: 25px;
}

/* line 229, ../compass/sass/header.scss */
.categories::after {
  content: "";
  background: url("../images/background-images/categories.jpg") center center fixed;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* line 240, ../compass/sass/header.scss */
footer {
  background: #777;
  color: white;
  font-size: 18px;
}
/* line 244, ../compass/sass/header.scss */
footer .container {
  padding: 50px;
  text-align: center;
}
/* line 247, ../compass/sass/header.scss */
footer .container #logo-image {
  width: 150px;
  display: block;
  margin: 0 auto 25px;
}
/* line 251, ../compass/sass/header.scss */
footer .container #logo-image img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 765px) {
  /* line 247, ../compass/sass/header.scss */
  footer .container #logo-image {
    float: none;
    display: block;
    margin: auto;
  }
}
/* line 261, ../compass/sass/header.scss */
footer .container .social-icons {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 40%;
}
@media screen and (max-width: 765px) {
  /* line 261, ../compass/sass/header.scss */
  footer .container .social-icons {
    display: inline;
  }
}
/* line 269, ../compass/sass/header.scss */
footer .container .social-icons ul {
  margin: auto;
  padding: 10px;
}
@media screen and (max-width: 765px) {
  /* line 269, ../compass/sass/header.scss */
  footer .container .social-icons ul {
    padding: 0;
  }
}
/* line 275, ../compass/sass/header.scss */
footer .container .social-icons ul li {
  list-style: none outside none;
  display: inline-block;
}
/* line 281, ../compass/sass/header.scss */
footer .container .social-icons i {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #909aa0;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
/* line 299, ../compass/sass/header.scss */
footer .container .social-icons i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
/* line 308, ../compass/sass/header.scss */
footer .container .social-icons .fa-facebook:hover {
  background: #4060A5;
}
/* line 311, ../compass/sass/header.scss */
footer .container .social-icons .fa-twitter:hover {
  background: #00abe3;
}
/* line 314, ../compass/sass/header.scss */
footer .container .social-icons .fa-instagram:hover {
  background: #375989;
}
/* line 317, ../compass/sass/header.scss */
footer .container .social-icons .fa-youtube:hover {
  background: #ff1f25;
}
