/* line 4, ../compass/sass/header.scss */
body {
  background-color: #DC1F43;
}

/* line 8, ../compass/sass/header.scss */
.container {
  width: 1024px;
  background-color: white;
  margin: 0 auto;
}
/* line 13, ../compass/sass/header.scss */
.container #header .navbar-default {
  background: none;
  border: none;
}
/* line 18, ../compass/sass/header.scss */
.container #header .carousel .carousel-inner {
  width: 100%;
}
/* line 20, ../compass/sass/header.scss */
.container #header .carousel .carousel-inner .item {
  max-height: 450px;
}
/* line 23, ../compass/sass/header.scss */
.container #header .carousel .carousel-inner .carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  margin: 0;
  padding-bottom: 25px;
  width: 100%;
  font-weight: bold;
}
/* line 31, ../compass/sass/header.scss */
.container #header .carousel .carousel-inner .carousel-caption .headline-text {
  display: inline-block;
  margin-right: 50px;
  font-size: 48px;
}
/* line 36, ../compass/sass/header.scss */
.container #header .carousel .carousel-inner .carousel-caption .headline-button {
  font-size: 24px;
  display: inline-block;
  background-color: #DC1F43;
  border: 3px solid white;
  border-radius: 25px 0px;
  padding: 15px;
}
/* line 48, ../compass/sass/header.scss */
.container .navbar {
  position: relative;
  height: auto;
  margin: auto;
  margin-bottom: 0;
  padding: 15px;
  width: 80%;
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 56, ../compass/sass/header.scss */
.container .navbar #logo-image {
  display: inline-block;
}
/* line 58, ../compass/sass/header.scss */
.container .navbar #logo-image img {
  width: 100px;
}
/* line 62, ../compass/sass/header.scss */
.container .navbar ul {
  display: inline-block;
  list-style: none;
  margin: 20px 0;
  padding: 25px;
}
/* line 67, ../compass/sass/header.scss */
.container .navbar ul li {
  display: inline-block;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 1px;
}
/* line 73, ../compass/sass/header.scss */
.container .navbar ul li a {
  text-decoration: none;
  padding: 0 10px;
  color: #DC1F43;
  border-left: 1px solid #DC1F43;
}
/* line 81, ../compass/sass/header.scss */
.container .navbar ul li:first-child a {
  border: none;
}
/* line 87, ../compass/sass/header.scss */
.container .navbar-right {
  display: inline-block;
  float: right;
  background-color: white;
}
/* line 91, ../compass/sass/header.scss */
.container .navbar-right ul {
  display: inline-block;
  list-style: none;
  margin: 20px 0;
  padding: 25px;
}
/* line 98, ../compass/sass/header.scss */
.container .navbar-right ul li a {
  text-decoration: none;
  padding: 0 10px;
  color: #DC1F43;
  border-left: 1px solid #DC1F43;
}
/* line 106, ../compass/sass/header.scss */
.container .navbar-right ul li:first-child a {
  border: none;
}
/* line 112, ../compass/sass/header.scss */
.container .sn-links {
  position: relative;
  margin: 10px auto;
  display: inline-block;
  text-align: center;
  width: 100%;
}
/* line 118, ../compass/sass/header.scss */
.container .sn-links .sn-box {
  width: 50px;
  margin: 0 40px;
}
/* line 122, ../compass/sass/header.scss */
.container .sn-links ul {
  list-style: none;
  padding: 0;
}
/* line 125, ../compass/sass/header.scss */
.container .sn-links ul li {
  display: inline-block;
}
/* line 129, ../compass/sass/header.scss */
.container .sn-links img {
  width: 100%;
}

/* line 3, ../compass/sass/content.scss */
.first-container {
  margin: auto;
  padding: 60px 0;
  background-color: #C8CEDA;
}
/* line 8, ../compass/sass/content.scss */
.first-container .col .img-wrapper {
  text-align: center;
}
/* line 11, ../compass/sass/content.scss */
.first-container .col p {
  padding: 10px;
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 105px;
  overflow: hidden;
  background-color: white;
}
